<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cpa.cpa_word_problem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CpaQuizApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5004953701825085~4821510866" />

        <activity
            android:name=".feature.quiz.presentation.screen.statistics.QuizStatisticsActivity"
            android:exported="false"
            android:theme="@style/Theme.CPAQuiz" />
        <activity
            android:name=".feature.quiz.presentation.screen.quiz.ProblemDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.CPAQuiz" />
        <activity
            android:name=".feature.quiz.presentation.screen.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CPAQuiz"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".feature.quiz.presentation.receivers.AlarmReceiver"
            android:enabled="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.cpa.cpa_word_problem.initializers.DependencyGraphInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.cpa.cpa_word_problem.initializers.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.cpa.cpa_word_problem.initializers.FlipperInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.cpa.cpa_word_problem.initializers.AdMobInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>